@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
  margin: 0;
  padding: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* 
  @TODO - once styled components is in, make sure omly critical css is here
*/